<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="static/style.css" rel="stylesheet" type="text/css">
        {% extends "bootstrap/base.html" %}

        {% block title %}
            {% if title  %}
                 {{ title }} - URL Shortener
            {% else %}
                Welcome to URL Shortener
            {% endif %}
        {% endblock %}

    </head>
    <body>
        {% include "flash.html" %}

        {% block content %}

        {% endblock %}
    </body>
</html>