<li class="dropdown">
    <a href="{{ url_for('login') }}" class="dropdown-toggle" data-toggle="dropdown">Log In <span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
        <div class="col-lg-12">
            <div class="text-center"><h3><b>Log In</b></h3></div>
            <form id="ajax-login-form" action="{{ url_for('login') }}" method="post" role="form" autocomplete="off">

                {{ login_form.hidden_tag() }}

                <div class="form-group">
                    <label for="email">Email</label>
                    {{ login_form.email(placeholder="Enter Email", tabindex="1", class="form-control", autocomplete="off") }}
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    {{ login_form.password(placeholder="Enter password", tabindex="2", class="form-control", autocomplete="off") }}

                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-7">
                            <input type="checkbox" tabindex="3" name="remember" id="remember">
                            <label for="remember"> Remember Me</label>
                        </div>
                        <div class="col-xs-5 pull-right">
                            {{ login_form.submit(tabindex="4", class="form-control btn btn-success") }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ul>
</li>
