
<div class="container">

    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <h1>URL Shortener!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">

            <div class="form-inline">
                <div class="form-group">
                    <form action="{{ url_for('index') }}" method="post"  >
                        {{  shorturl_form.hidden_tag() }}
                        {{  shorturl_form.url(class="form-control", placeholder="Long URL") }}
                        {{ shorturl_form.submit(class="btn btn-info") }}
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" >
            <div class = "shorturl">
                {% if shortURL %}
                    Shortened URL is  {{ shortURL }}
                {% endif %}
            </div>
     </div>
</div>
